body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Monospace;
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
}

canvas { display: block; }

a {
    color: #ff0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    color: lightgreen;
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
}

meme {
    position: absolute; 
    text-align: center;
    left: 0;
    right: 0; 
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
    display: inline-block;
}
  

.bottom {
    bottom: 1%;
}

.top {
    top: 1%;
}
